@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("~@/assets/fonts/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  src: url("~@/assets/fonts/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 300;
  src: url("~@/assets/fonts/NotoSansJP-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("~@/assets/fonts/NotoSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: url("~@/assets/fonts/NotoSansJP-Medium.otf") format("truetype");
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  src: url("~@/assets/fonts/NotoSansJP-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("~@/assets/fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("~@/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  src: url("~@/assets/fonts/DotGothic16-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 700;
  src: url("~@/assets/fonts/DotGothic16-Regular.ttf") format("truetype");
}
